<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>高新企业专题 - 上海知识产权政策信息平台</title>
    <meta name="keywords" content="高新企业专题 - 上海知识产权政策信息平台">
    <meta name="description" content="高新企业专题 - 上海知识产权政策信息平台">

    <!--  ICO图标 -->
    <link rel="shortcut icon" href="http://www.ip001.sh.cn/favicon.ico" />

    <!--  重置样式 -->
    <link rel="stylesheet" href="http://www.ip001.sh.cn/static/css/normalize.css">

    <!--  网站样式 -->
    <link rel="stylesheet" href="http://www.ip001.sh.cn/static/css/common.css">

    <link rel="stylesheet" href="../css/util.min.css">
    <link rel="stylesheet" href="../css/fee.min.css">

    <script type="text/javascript" src="http://www.ip001.sh.cn/static/js/jquery-1.7.1.min.js"></script>
</head>

<body>
    <div class="head">
    <div class="top">
        <div class="container">
            <div class="fl logo">
                <a href="/"><img src="http://www.ip001.sh.cn/static/images/logo.png" alt="上海知识产权政策信息平台"></a>
            </div>
            <div class="fl nav">
                <ul>
                    <li class="on">
                        <a href="http://www.ip001.sh.cn/">首页</a>
                    </li>
                    <li>
                        <a href="http://www.ip001.sh.cn/">科技政策查询</a>
                    </li>
                    <li>
                        <a href="http://www.ip001.sh.cn/">专利年费托管</a> </li>
                    <li>
                        <a href="http://www.ip001.sh.cn/">专利管理</a>
                    </li>
                    <li>
                        <a href="/Special/Index/">政策专题展示</a>
                        <div class="twonav">
                            <a href="/Special/Index/">高新企业专题</a>
                            <a href="/Special/Reduction/">专利费减专题</a>
                            <a href="/Special/Annual/">企业年报专题</a>
                            
                        </div>
                    </li>
                </ul>
            </div>
            <div class="fr top-r">
<a class="top-login" href="/Account/Login">登录</a> | <a class="top-register" href="/Account/Register">注册</a>            </div>
        </div>
    </div>
</div>
<script src="http://www.ip001.sh.cn/Scripts/header.js"></script>
    

<!-- 内容开始 -->


    <div class="topic-div">
        <img src="../img/zlfjzt1-banner.png" alt="icon">
    </div>
    <div class="content">
        <div class="topic">
            <div class="topic-ctn">
                <p class="t-title">专利费减申报流程和准备材料</p>
                <div class="t-info">
                    <div class="info-box">
                        <div class="box-div">
                            <img src="../img/zlfjzt1-part1-icon1.png" alt="icon">
                            <p class="d-title">网上申请</p>
                            <p class="d-describe">在我们的官网上填写信息并提交申请</p>
                        </div>
                    </div>

                    <div class="info-arrow">3工作日 <img src="../img/Shape.png" alt="arrow"></div>

                    <div class="info-box">
                        <div class="box-div">
                            <img src="../img/zlfjzt1-part1-icon2.png" alt="icon">
                            <p class="d-title">提交纸面材料</p>
                            <p class="d-describe">根据相关信息提供相应的纸面材料</p>
                        </div>
                    </div>

                    <div class="info-arrow">5工作日 <img src="../img/Shape.png" alt="arrow"></div>

                    <div class="info-box">
                        <div class="box-div">
                            <img src="../img/zlfjzt1-part1-icon3.png" alt="icon">
                            <p class="d-title">审核备案通过</p>
                            <p class="d-describe">我们将帮你进行审核备案，及时更新审核进程</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg">
        <div class="apply-btn btn-style" id="applyBtn">立即免费申请</div>

        <div class="ctn-item change">
            <p class="title">《专利费用减缓办法》新旧对比</p>

            <div class="c-tabs">
                <ul>
                    <li class="el-click select-style" id="title-1">对象条件</li>
                    <li class="el-click" id="title-2">办理要求</li>
                    <li class="el-click" id="title-3">费用类型</li>
                    <li class="el-click" id="title-4">减缓比例</li>
                    <li class="el-click" id="title-5">办理时间</li>
                </ul>

                <div class="title-0 title-1">
                    <div class="category">
                        <div class="cell-l">政策对比</div>
                        <div class="cell">2016新办法</div>
                        <div class="cell-r">旧办法</div>
                    </div>
                    <div class="category category-2">
                        <div class="cell-l c2-cell"><p>对象条件</p></div>
                        <div class="cell c2-cell">
                            <p>个人：年度月均收入低于3500元（年4.2万元）；</p>
                            <p>企业单位：上年度企业应纳税所得额低于30万元；</p>
                            <p>事业单位，社会团体，非营利性科研机构可申报。</p>
                        </div>
                        <div class="cell-r c2-cell">
                            <p>个人：年收入低于2.5万元</p>
                            <p>专利缴纳有关专利费用确有困难，减缓请求书如实填写经济困难情况</p>
                        </div>
                    </div>
                </div>

                <div class="title-0 title-2 el-hide">
                    <div class="category">
                        <div class="cell-l">政策对比</div>
                        <div class="cell">2016新办法</div>
                        <div class="cell-r">旧办法</div>
                    </div>
                    <div class="category category-2">
                        <div class="cell-l c2-cell"><p>办理要求</p></div>
                        <div class="cell c2-cell">
                            <p>1.个人：专利费减请求书，收入证明或经济困难证明</p>
                            <p>3.企业单位：专利费减请求书，年度纳税申报表</p>
                            <p>4. 事业单位：专利费减请求书，主体资格证明。</p>
                        </div>
                        <div class="cell-r c2-cell">
                            <p>1.应当提交费用减缓请求书，必要时还应附具有关证明文件</p>
                        </div>
                    </div>
                </div>

                <div class="title-0 title-3 el-hide">
                    <div class="category">
                        <div class="cell-l">政策对比</div>
                        <div class="cell">2016新办法</div>
                        <div class="cell-r">旧办法</div>
                    </div>
                    <div class="category category-2">
                        <div class="cell-l c2-cell"><p>对象条件</p></div>
                        <div class="cell c2-cell">
                            <p>个人：年度月均收入低于3500元（年4.2万元）；</p>
                            <p>企业单位：上年度企业应纳税所得额低于30万元；</p>
                            <p>事业单位，社会团体，非营利性科研机构可申报。</p>
                        </div>
                        <div class="cell-r c2-cell">
                            <p>个人：年收入低于2.5万元</p>
                            <p>专利缴纳有关专利费用确有困难，减缓请求书如实填写经济困难情况</p>
                        </div>
                    </div>
                </div>

                <div class="title-0 title-4 el-hide">
                    <div class="category">
                        <div class="cell-l">申请人类型</div>
                        <div class="cell">2016新办法</div>
                        <div class="cell-r">旧办法</div>
                    </div>
                    <div class="category category-1">
                        <div class="cell-l cell-color">单个个人</div>
                        <div class="cell cell-color">85%</div>
                        <div class="cell-r cell-color">85%</div>
                    </div>
                    <div class="category category-1">
                        <div class="cell-l cell-color">单个企业/单位</div>
                        <div class="cell cell-color">85%</div>
                        <div class="cell-r cell-color">70%</div>
                    </div>
                </div>

                <div class="title-0 title-5 el-hide">
                    <div class="category">
                        <div class="cell-l">政策对比</div>
                        <div class="cell">2016新办法</div>
                        <div class="cell-r">旧办法</div>
                    </div>
                    <div class="category category-1">
                        <div class="cell-l cell-color">办理时间</div>
                        <div class="cell cell-color">1.2016年9月1日（含）开始实施，备案材料有效期2016年年底。</div>
                        <div class="cell-r cell-color">1.原办法出具的证明文件使用至2016年8月31日</div>
                    </div>
                </div>






            </div>
        </div>
    </div>

    <div class="content">
        <div class="ctn-item template-down">
            <p class="title">专利费减申报模板下载</p>

            <div class="template-info"><img src="../img/zlfjzt1-part3.png" alt="icon"></div>

            <div class="template-box">
                <div class="template-div">
                    <a href="http://files.zxiaoxiang.com/upload/image/20161213/6361723745037088599869021.jpg">
                        <img src="../img/file_type_doc.png" alt="icon">
                        <span class="t-name">个人身份证正反面.jpg</span>
                        <span class="t-size">172KB</span>
                    </a>
                </div>
                <div class="template-div">
                    <a href="http://files.zxiaoxiang.com/upload/image/20161213/6361723762300730802629297.jpg">
                        <img src="../img/file_type_doc.png" alt="icon">
                        <span class="t-name">年度所得税纳税申报表.jpg</span>
                        <span class="t-size">198KB</span>
                    </a>
                </div>
                <div class="template-div">
                    <a href="http://files.zxiaoxiang.com/upload/image/20161213/6361723646354807545326060.jpg">
                        <img src="../img/file_type_doc.png" alt="icon">
                        <span class="t-name">事业单位营业执照.doc</span>
                        <span class="t-size">304KB</span>
                    </a>
                </div>
            </div>

            <div class="template-box">
                <div class="template-div">
                    <a href="http://files.zxiaoxiang.com/upload/image/20161213/6361723476437180743203262.jpg">
                        <img src="../img/file_type_doc.png" alt="icon">
                        <span class="t-name">年度收入情况证明.jpg</span>
                        <span class="t-size">160KB</span>
                    </a>
                </div>
                <div class="template-div">
                    <a href="http://files.zxiaoxiang.com/upload/image/20161213/6361722235112102472012904.jpg">
                        <img src="../img/file_type_doc.png" alt="icon">
                        <span class="t-name">企业法人营业执照.jpg</span>
                        <span class="t-size">179KB</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="bg">
        <div class="ctn-item favorable">
            <p class="title">申报专利费减能获得哪些优惠</p>
            <p class="title-info">高企申请对企业的作用</p>

            <div class="f-ctn">
                <div class="f-sprite">
                    <img src="../img/yffjjkczt1-part2-icon1.png" alt="icon">

                    <p class="">办理一次减缓一年</p>
                </div>
                <div class="f-sprite">
                    <img src="../img/yffjjkczt1-part2-icon2.png" alt="icon">

                    <p class="">延长年份减缓时间</p>
                </div>
                <div class="f-sprite">
                    <img src="../img/yffjjkczt1-part2-icon3.png" alt="icon">

                    <p class="">减轻企业资金压力</p>
                </div>
                <div class="f-sprite">
                    <img src="../img/yffjjkczt1-part2-icon4.png" alt="icon">

                    <p class="">开展更多专利申请</p>
                </div>
            </div>
        </div>
    </div>

    <div class="difference">
        <div class="chapter-div">
            <img src="../img/chapter.png" alt="">
        </div>

        <div class="bg-l">
            <div class="d-div d-l">
                <div class="d-title d-l-title">
                    <p class="title">办理前</p>
                    <p class="t-info">费用情况</p>
                </div>

                <ul>
                    <li class="cell-1">
                        <p class="cell-p"> <span class="cell-title">950</span><span class="unit">元</span></p>
                        <p class="cell-info">申请费用</p>
                    </li>
                    <li class="cell-2">
                        <p class="cell-p cell-p-1"><span class="cell-title cell-title-1">2500</span> <span class="unit">元</span></p>
                        <p class="cell-info cell-info-1">实审费用</p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="bg-r">
            <div class="d-div d-r">
                <div class="remission">
                    <p>最高享受</p>
                    <p>85%</p>
                    <p>管费优惠</p>
                    <span class="triangle"></span>
                </div>

                <div class="d-title d-l-title">
                    <p class="title">办理后</p>
                    <p class="t-info">费用情况</p>
                </div>

                <ul>
                    <li class="cell-1">
                        <p class="cell-p"> <span class="cell-title">185</span> <span class="unit">元</span></p>
                        <p class="cell-info">申请费用</p>
                    </li>
                    <li class="cell-2">
                        <p class="cell-p"> <span class="cell-title cell-color">375</span><span class="unit cell-color">元</span></p>
                        <p class="cell-info">实审费用</p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="d-btn btn-style" id="applyBtn1">立即申请</div>
        <a class="app-btn" href="#">申报其他政策</a>
    </div>

    <div class="popup popup-1" id="popup">
        <div class="popup-box" id="popupBox">
            <img class="close-icon btn-style" id="closeBtn" src="../img/btn_close.png" alt="close-icon">
            <div class="box-ctn">
                <ul class="table-form">
                    <li class="input-label">申请人</li>
                    <li class="input-text input-text-1">
                        <div class="input-radio">
                            <span class="span-1" onclick="selectYear1('class-img', 'class1', 'radioName')"><img class="class-img" id="class1" src="../img/checkbox_checked.png" alt="radio">个人</span>
                            <span class="span-2" onclick="selectYear1('class-img', 'class2', 'radioFirm')"><img class="class-img" id="class2" src="../img/checkbox_empty.png" alt="radio">企业</span>
                            <span class="span-3" onclick="selectYear1('class-img', 'class3', 'radioFirm1')"><img class="class-img" id="class3" src="../img/checkbox_empty.png" alt="radio">事业单位</span>
                        </div>
                    </li>
                </ul>
                <!--错误提示 在ul上加上class（error-hint）即可 -->
                <ul class="table-form">
                    <li class="input-label">备案年度</li>
                    <li class="input-text input-text-1">
                        <div class="input-radio">
                            <span class="span-1" onclick="selectYear('year-img', 'year1')"><img class="year-img" id="year1" src="../img/checkbox_checked.png" alt="radio">2016</span>
                            <span class="span-2" onclick="selectYear('year-img', 'year2')"><img class="year-img" id="year2" src="../img/checkbox_empty.png" alt="radio">2017</span>
                        </div>
                    </li>
                </ul>
                <ul class="table-form radio-ctn" id="radioName">
                    <li class="input-label">姓名</li>
                    <li class="input-text input-text-1">
                        <input type="text" placeholder="请输入您的姓名">
                        <!-- 自定义错误提示信息 -->
                        <span class="error-span">请输入正确信息</span>
                    </li>
                </ul>

                <ul class="table-form radio-ctn el-hide" id="radioFirm">
                    <li class="input-label">企业名称</li>
                    <li class="input-text input-text-1">
                        <input type="text" placeholder="请输入企业名称">
                        <!-- 自定义错误提示信息 -->
                        <span class="error-span">请输入正确信息</span>
                    </li>
                </ul>

                <ul class="table-form radio-ctn el-hide" id="radioFirm1">
                    <li class="input-label">单位名称</li>
                    <li class="input-text input-text-1">
                        <input type="text" placeholder="请输入单位名称">
                        <!-- 自定义错误提示信息 -->
                        <span class="error-span">请输入正确信息</span>
                    </li>
                </ul>

                <ul class="table-form">
                    <li class="input-label">手机</li>
                    <li class="input-text input-text-1"><input type="text" placeholder="请输入您的手机号码"></li>
                </ul>
                <ul class="table-form">
                    <li class="input-label">邮箱</li>
                    <li class="input-text input-text-1"><input type="text" placeholder="请输入您的邮箱账号"></li>
                </ul>
                <ul class="table-form">
                    <li class="input-label">附件</li>
                    <li class="input-text ">
                        <div class="file-load">
                            <div class="input-radio radio-box-1">
                                <span class="span-t" onclick="noUpload()"><img id="fileRadio" src="../img/checkbox_empty.png" alt="radio">暂不上传附件</span>
                            </div>

                            <div class="file-box" id="fileBox">
                                <div class="radio-box1">
                                    <input type="file" id="file" onchange="fileUpload(this.id)">
                                    <img src="../img/file-type-upload1.png" alt="radio">
                                    <span class="file-name" id="fileName">个人身份证正反面</span>
                                    <span class="file-suffix" id="fileSew"></span>
                                    <a href="#"><span class="select-template">查看模板</span></a>
                                </div>

                                <div class="radio-box1" id="fileUpload2">
                                    <input type="file" id="file1" onchange="fileUpload1(this.id)">
                                    <img src="../img/file-type-upload2.png" alt="radio">
                                    <span class="file-name" id="fileName1">年度收入情况证明</span>
                                    <span class="file-suffix" id="fileSew1"> </span>
                                    <span class="select-template" onclick="deleteFile('file1')">删除</span>
                                </div>
                            </div>
                        </div>
                        <p class="text-info">我们的工作人员将会在第一时间联系您</p>
                        <div class="btn-group">
                            <div class="bnt-submit btn-style">提交</div>
                            <div class="bnt-cancel btn-style" id="msgCancel">取消</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <script src="../js/global.js"></script>
    <script src="../js/fee.js"></script>


<!-- 内容结束 -->


        <div class="foot-contact gray">
        <p>如果您想了解更多，请拨打我们的热线电话！</p>
        <a href="" class="tel">400-728-3001</a>
    </div>

<div class="foot">
    <div class="container">
        <div class="fl foot-links">
            <ul>
                <li>
                    <a href="/Policy/Search/">知识产权科技政策</a>
                </li>
                <li>
                    <a href="/PatentHost/Search/">专利年费</a>
                </li>
                <li>
                    <a href="/PatentSearch/Search/">专利管理</a>
                </li>
                <li>
                    <a href="/Special/Index/">高新企业专题</a>
                </li>
                <li>
                    <a href="/Special/Reduction/">专利费减专题</a>
                </li>
                <li>
                    <a href="/Content/Show/About">关于我们</a>
                </li>
                <li>
                    <a href="http://service.ip001.sh.cn/" target="_blank">客户管理</a>
                </li>
            </ul>
        </div>
        <div class="fr foot-focus">
            <span>关注：</span>
            <a href="javascript:void(0);" class="social-wechat">
                <img class="focus-wechatImg" src="http://www.ip001.sh.cn/static/images/erweima.jpg" width="90" height="90" alt="">
            </a>
            <a href="javascript:void(0);" class="social-weibo"></a>
        </div>
    </div>
</div>

<div class="footBar">
    <p><span>Copyright &copy; 2014-2017 上海知识产权政策信息平台  沪ICP备14038424号-3</span></p>
</div>

<!-- 悬浮 Begin -->

<div class="floatBox">
    <ul>
        <li class="btnChat">
            
            <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2070045373&site=www.ip001.sh.cn&menu=yes"></a>
        </li>
        <li class="btnWechat">
            <a href="javascript:void(0);">
                <img class="erweima" src="http://www.ip001.sh.cn/static/images/erweima.jpg" width="90" height="90" alt="">
            </a>
        </li>
        <li class="btnTel">
            <a href="javascript:void(0);">
                <span>4007283001</span>
            </a>
        </li>
        <li class="btnEdit">
            <a href="javascript:void(0);"></a>
        </li>
        <li class="goTop" id="gotop">
            <a href="javascript:void(0);"></a>
        </li>
    </ul>
</div>

<!-- 悬浮 /End -->

<!-- 百度统计代码 Begin -->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?d810bb9328bedbc1bf1ed04e6336c527";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
<!-- 百度统计代码 /End -->

    <script type="text/javascript" src="http://www.ip001.sh.cn/static/js/jquery.validate.js"></script>
    <script type="text/javascript" src="http://www.ip001.sh.cn/static/js/common.js"></script>
    <script type="text/javascript" src="http://www.ip001.sh.cn/Scripts/account.js"></script>

    <!-- 弹框 Begin -->
<div class="mask"></div>
<!-- 建议弹框 -->
<div class="popbox message">
    <form>
        <div class="popform">
            <div class="popformTitle">
                <h2>我的建议</h2>
            </div>
            <div class="popformItem">
                <label for="">建议：</label>
                <textarea name="Contents" id="Contents" cols="30" rows="10"></textarea>
            </div>
            <div class="popformItem">
                <label for="">您的联系方式：</label>
                <input name="Mobile" id="Mobile" type="text" value="" placeholder="请输入您的联系方式，电子邮箱或者手机号码">
                <div class="tips">我们将在一个工作日内将您的建议反馈给主管部门，并及时回复。</div>
            </div>
            <div class="popbuttons">
                <a class="sure" href="javascript:void(0);">提交</a><a class="cancle" href="javascript:void(0);">取消</a>
            </div>
        </div>
        <a href="javascript:void(0);" class="close"></a>
    </form>
</div>

<!-- 错误弹框 -->
<div class="popbox tips error">
    <div class="popform">
        <img src="http://www.ip001.sh.cn/static/images/ioc_error.png" /><a href="javascript:void(0);" class="popmsg"></a>
    </div>
    <a href="javascript:void(0);" class="close"></a>
</div>

<!-- 警告弹框 -->
<div class="popbox tips no">
    <div class="popform">
        <img src="http://www.ip001.sh.cn/static/images/ioc_caveat.png" /><a href="javascript:void(0);" class="popmsg"></a>
    </div>
    <a href="javascript:void(0);" class="close"></a>
</div>

<!-- 成功弹框 -->
<div class="popbox tips have">
    <div class="popform">
        <img src="http://www.ip001.sh.cn/static/images/ioc_ok.png" /><a href="javascript:void(0);" class="popmsg"></a>
    </div>
    <a href="javascript:void(0);" class="close"></a>
</div>

<!-- 登录相关 -->
    <input type="hidden" name="islogin" id="islogin" value="0" />
        <input type="hidden" name="haslogindialog" id="haslogindialog" value="1" />
        <!-- 登录弹框 -->
        <div class="loginBox">
            <a href="javascript:void(0);" class="close"></a>
            <div class="login">
                <p class="loginText fleft">用户登录</p>
                <div class="loginCenter fleft">
                    <form class="loginForm" id="loginForm">
                        <div class="account">
                            <p class="Text">用户名</p>
                            <input type="text" placeholder="请输入您的用户名" class="required Text_Input" name="account" id="AccountCode">
                            <div class="errorWrap"></div>
                        </div>
                        <div class="password">
                            <p class="Text">密码</p>
                            <input type="password" placeholder="请输入您的密码" class="required Text_Input gin password" name="password" id="Password">
                            <div class="errorWrap"></div>
                        </div>
                        <div class="rememb">
                            <label><input type="checkbox"><span>记住密码</span></label>
                            <a href="/Account/ForgetPassword1">忘记密码？</a>
                        </div>
                        <div class="btnDiv">
                            <input type="submit" value="登录" class="btn submit" id="btnLogin" style="float:left;">
                                <a href="/Account/Register?ReturnUrl=http://localhost:17417/Special/Index" class="btn" style="float:right;">注册</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- end登录弹框 -->

<!-- 弹框 //End -->

<script src="http://www.ip001.sh.cn/Scripts/pop.js"></script>
<script src="http://www.ip001.sh.cn/Scripts/feedback.js"></script>
<!-- <script src="~/Scripts/stat.js"></script> -->

</body>
</html>