<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>高新企业专题 - 上海知识产权政策信息平台</title>
    <meta name="keywords" content="高新企业专题 - 上海知识产权政策信息平台">
    <meta name="description" content="高新企业专题 - 上海知识产权政策信息平台">

    <!--  ICO图标 -->
    <link rel="shortcut icon" href="http://www.ip001.sh.cn/favicon.ico" />

    <!--  重置样式 -->
    <link rel="stylesheet" href="http://www.ip001.sh.cn/static/css/normalize.css">

    <!--  网站样式 -->
    <link rel="stylesheet" href="http://www.ip001.sh.cn/static/css/common.css">

    <link rel="stylesheet" href="../css/util.min.css">
    <link rel="stylesheet" href="../css/research.min.css">

    <script type="text/javascript" src="http://www.ip001.sh.cn/static/js/jquery-1.7.1.min.js"></script>
</head>

<body>
    <div class="head">
    <div class="top">
        <div class="container">
            <div class="fl logo">
                <a href="/"><img src="http://www.ip001.sh.cn/static/images/logo.png" alt="上海知识产权政策信息平台"></a>
            </div>
            <div class="fl nav">
                <ul>
                    <li class="on">
                        <a href="http://www.ip001.sh.cn/">首页</a>
                    </li>
                    <li>
                        <a href="http://www.ip001.sh.cn/">科技政策查询</a>
                    </li>
                    <li>
                        <a href="http://www.ip001.sh.cn/">专利年费托管</a> </li>
                    <li>
                        <a href="http://www.ip001.sh.cn/">专利管理</a>
                    </li>
                    <li>
                        <a href="/Special/Index/">政策专题展示</a>
                        <div class="twonav">
                            <a href="/Special/Index/">高新企业专题</a>
                            <a href="/Special/Reduction/">专利费减专题</a>
                            <a href="/Special/Annual/">企业年报专题</a>
                            
                        </div>
                    </li>
                </ul>
            </div>
            <div class="fr top-r">
<a class="top-login" href="/Account/Login">登录</a> | <a class="top-register" href="/Account/Register">注册</a>            </div>
        </div>
    </div>
</div>
<script src="http://www.ip001.sh.cn/Scripts/header.js"></script>
    

<!-- 内容开始 -->


    <div class="topic-div">
        <img src="../img/yffjjkczt1-banner.png" alt="icon">
    </div>

    <div class="content">

        <div class="topic">

            <div class="topic-ctn">
                <p class="t-title">什么是研发费加计扣除</p>
                <p class="t-t-info">研发费加计扣除是促进企业加大研发投入，提高自主创新能力，加快产业结构调整的 <span>税收优惠政策</span></p>
                <div class="t-info">
                    <div class="info-box">
                        <div class="box-div">
                            <img src="../img/gxqyzt1-part1-icon1.png" alt="icon">
                            <p class="d-title">开展技术研发费用支出</p>
                        </div>
                    </div>

                    <div class="info-box">
                        <div class="box-div">
                            <img src="../img/gxqyzt1-part1-icon2.png" alt="icon">
                            <p class="d-title">研发成果拥有知识产权</p>
                        </div>
                    </div>

                    <div class="info-box">
                        <div class="box-div">
                            <img src="../img/gxqyzt1-part1-icon3.png" alt="icon">
                            <p class="d-title">研发费用符合归集范围</p>
                        </div>
                    </div>

                    <div class="info-box">
                        <div class="box-div">
                            <img src="../img/gxqyzt1-part1-icon4.png" alt="icon">
                            <p class="d-title">研发费用占比达到要求</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class=""></div>
        </div>

    </div>

    <div class="bg">
        <div class="content">
            <div class="ctn-item favorable">
                <p class="title">申报研发费用加计扣除能获得哪些优惠？</p>

                <div class="f-ctn">
                    <div class="f-sprite">
                        <img src="../img/gxqyzt1-part4-icon1.png" alt="icon">

                        <p class="fs-p">规范公司账务</p>
                        <p>提升创新能力</p>
                    </div>
                    <div class="f-sprite">
                        <img src="../img/gxqyzt1-part4-icon2.png" alt="icon">

                        <p class="fs-p">增加研发成本</p>
                        <p>减少所得税额</p>
                    </div>
                    <div class="f-sprite">
                        <img src="../img/gxqyzt1-part4-icon3.png" alt="icon">

                        <p class="fs-p">申报高企必备</p>
                        <p>降低所得税率</p>
                    </div>
                    <div class="f-sprite">
                        <img src="../img/gxqyzt1-part4-icon4.png" alt="icon">

                        <p class="fs-p">申报软企必备</p>
                        <p>减免所得税额</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="difference">
        <div class="chapter-div">
            <img src="../img/179572395721447826.png" alt="">
        </div>

        <div class="bg-l">
            <div class="d-div d-l">
                <div class="d-title d-l-title">
                    <p class="title">未申请</p>
                    <p class="t-info">A公司情况</p>
                </div>

                <ul>
                    <li class="cell-1">
                        <p class="cell-p"> <span class="cell-title">1000</span><span class="unit">元</span></p>
                        <p class="cell-info">A公司年销售收入</p>
                    </li>
                    <li class="cell-2">
                        <p class="cell-p"><span class="cell-title">125</span> <span class="unit">元</span></p>
                        <p class="cell-info">缴纳所得税</p>
                    </li>
                </ul>

                <p class="total-info">A公司年销售收入为1000元，研发费用为500元，企业利润为500元，须缴纳所得税125元</p>
            </div>
        </div>

        <div class="bg-r">
            <div class="d-div d-r">
                <div class="remission">
                    <p>企业享受</p>
                    <p>150%</p>
                    <p>加计扣除</p>
                    <span class="triangle"></span>
                </div>

                <div class="d-title d-l-title">
                    <p class="title">已申请</p>
                    <p class="t-info">B公司情况</p>
                </div>

                <ul>
                    <li class="cell-1">
                        <p class="cell-p"> <span class="cell-title">1000</span> <span class="unit">元</span></p>
                        <p class="cell-info">B公司年销售收入</p>
                    </li>
                    <li class="cell-2">
                        <p class="cell-p"> <span class="cell-title cell-color">62</span><span class="unit cell-color">.5元</span></p>
                        <p class="cell-info">缴纳所得税</p>
                    </li>
                </ul>

                <p class="total-info">B公司年销售收入也为1000元，但已经申申报研发费用加计扣除，于是加计研发费用为250元，扣除企业利润250元，须缴纳所得税仅为62.5元</p>
            </div>
        </div>

        <div class="difference-info">
            <span class="info-font">享受到</span>
            <span class="info-size"> 62.5 </span>
            <span class="info-font">万元的税收优惠</span>
            <span class="info-font-1">（125万元 - 62.5万元）</span>
            <span class="triangle-1"></span>
            <span class="triangle-2"></span>
        </div>
        <div class="d-btn btn-style" id="applyFloatBox">立即申请</div>
    </div>

    <div class="bg">
        <div class="content">
            <div class="introduce">
                <div class="i-l">
                    <p class="l-p1">税收减免</p>
                    <p class="l-title">研发费用加计扣除</p>
                    <p class="l-ctn-p">开展研发费用加计扣除的备案之后，可使研发费用额外增加50%进行扣除，进而享受企业所得税的减免优惠。</p>
                    <p class="l-ctn-p1">按照税法规定在开发新技术、新产品、新工艺发生的研究开发费用的实际发生额基础上，再加成一定比例，作为计算应纳税所得额时的扣除数额的一种税收优惠政策。例如，税法规定研发费用可实行150%加计扣除政策，如果企业当年开发新产品研发费用实际支出为100元，就可按150元（100×150%）在税前进行扣除，以鼓励企业加大研发投入。</p>
                </div>
                <div class="i-r">
                    <div class="i-r-div">
                        <img src="../img/pic1.png" alt="icon">
                        <div class="i-r-info">
                            <a href="http://www.ip001.sh.cn/Policy/Detail/1"><p class="info-title">高新技术企业</p></a>
                            <p class="info-p">申报高新技术企业，必须开展研发费用</p>
                            <p class="info-p">加计扣除，通过高新技术企业认定，</p>
                            <p class="info-p">企业所得税税率降至15%。</p>
                        </div>
                    </div>

                    <div class="i-r-div">
                        <img src="../img/pic2.png" alt="icon">
                        <div class="i-r-info i-r-info1">
                            <a href="http://www.ip001.sh.cn/Policy/Detail/7"><p class="info-title">上海市软件企业评估</p></a>
                            <p class="info-p">申报软件企业评估，必须开展研发费用</p>
                            <p class="info-p">加计扣除，通过软件企业评估，</p>
                            <p class="info-p">企业所得税可享受两免三减半的优惠政策。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">

        <div class="ctn-item template-down">
            <p class="title">研发费用加计扣除模板下载</p>
            <p class="title-info">模板下载</p>

            <div class="template-box">
                <div class="template-div">
                    <a href="#">
                        <img src="../img/file_type_jpg.png" alt="icon">
                        <span class="t-name t-name-o">上海市企业研发项目情况表.jpg</span>
                        <span class="t-size">172KB</span>
                    </a>
                </div>
                <div class="template-div">
                    <a href="#">
                        <img src="../img/file_type_jpg.png" alt="icon">
                        <span class="t-name">研发项目立项表.jpg</span>
                        <span class="t-size">198KB</span>
                    </a>
                </div>
                <div class="template-div">
                    <a href="#">
                        <img src="../img/file_type_jpg.png" alt="icon">
                        <span class="t-name">研发费用明细账.doc</span>
                        <span class="t-size">304KB</span>
                    </a>
                </div>
            </div>
        </div>

    </div>

    <div class="bg">
        <div class="content">
            <div class="ctn-item login-message">
                <p class="title">登录后查看更多信息</p>
                <div class="btn-div btn-group btn-group-lg">
                    <button type="button" class="btn btn-default btn-rg btn-click" onclick="window.location.href='http://www.ip001.sh.cn/Account/Register'">注册</button>
                    <button type="button" class="btn btn-default btn-lg btn-click" onclick="window.location.href='http://www.ip001.sh.cn/Account/Login'">登录</button>
                </div>

                <div class="t-info">
                    <div class="info-box">
                        <div class="box-div">
                            <img src="../img/yffjjkczt2-icon1.png" alt="icon">
                            <p class="d-title">加计扣除归集技巧</p>
                            <p class="d-describe">人员人工费用、直接投入费用、折旧待摊费用、资产摊销费用、设计费用、调试实验费用、外部研发费用</p>
                        </div>
                    </div>

                    <div class="info-box">
                        <div class="box-div">
                            <img src="../img/yffjjkczt2-icon2.png" alt="icon">
                            <p class="d-title">加计扣除申报流程</p>
                            <p class="d-describe">每年年初确定立项名称建议不少于6项；完成立项项目表格立项填写…</p>
                        </div>
                    </div>

                    <div class="info-box">
                        <div class="box-div">
                            <img src="../img/yffjjkczt2-icon3.png" alt="icon">
                            <p class="d-title">加计扣除常见问题</p>
                            <p class="d-describe">没有知识产权能否申报高新技术企业？ 税务为核定征收能否申报高新技术企业？</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg">
        <div class="content">
            <div class="ctn-item change">
                <p class="title">新修订的管理办法出现哪些变化？</p>

                <div class="c-tabs">
                    <ul>
                        <li class="el-click select-style" id="title-1">人员人工费用</li>
                        <li class="el-click" id="title-2">直接投入费用</li>
                        <li class="el-click" id="title-3">待摊折旧费用</li>
                        <li class="el-click" id="title-4">资产摊销费用</li>
                        <li class="el-click" id="title-5">设计费用</li>
                        <li class="el-click" id="title-6">调试实验费用</li>
                        <li class="el-click" id="title-7">外部研发费用</li>
                        <li class="el-click" id="title-8">其它相关费用</li>
                        <li class="el-click" id="title-9"><a style="text-decoration: none;" href="./research-detail.html">更多</a></li>
                    </ul>

                    <div class="category">
                        <div class="cell-l">政策对比</div>
                        <div class="cell">高新技术企业认定</div>
                        <div class="cell-r">研发费用加计扣除</div>
                    </div>

                    <div class="title-0 title-1">
                        <div class="category category-1">
                            <div class="cell-l cell-color">人员人工费用</div>
                            <div class="cell cell-color">企业科技人员的工资薪金、基本养老保险费、基本医疗保险费、失业保险费、工伤保险费、生育保险费和住房公积金，以及外聘科技人员的劳务费用。</div>
                            <div class="cell-r cell-color">直接从事研发活动人员的工资薪金、基本养老保险费、基本医疗保险费、失业保险费、工伤保险费、生育保险费和住房公积金，以及外聘研发人员的劳务费用。</div>
                        </div>
                    </div>

                    <div class="title-0 title-2 el-hide">
                        <div class="category category-2">
                            <div class="cell-l c2-cell"><p>直接投入费用</p></div>
                            <div class="cell c2-cell">
                                <p>直接投入费用是指企业为实施研究开发活动而实际发生的相关支出。包括：</p>
                                <p>直接消耗的材料、燃料和动力费用；</p>
                                <p>用于中间试验和产品试制的模具、工艺装备开发及制造费，不构成固定资产的样品、样机及一般测试手段购置费，试制产品的检验费；</p>
                                <p>用于研究开发活动的仪器、设备的运行维护、调整、检验、检测、维修等费用，以及通过经营租赁方式租入的用于研发活动的固定资产租赁费。</p>
                            </div>
                            <div class="cell-r c2-cell">
                                <p>研发活动直接消耗的材料、燃料和动力费用。</p>
                                <p>用于中间试验和产品试制的模具、工艺装备开发及制造费，不构成固定资产的样品、样机及一般测试手段购置费，试制产品的检验费。</p>
                                <p>用于研发活动的仪器、设备的运行维护、调整、检验、维修等费用，以及通过经营租赁方式租入的用于研发活动的仪器、设备租赁费。</p>
                            </div>
                        </div>
                    </div>

                    <div class="title-0 title-3 el-hide">
                        <div class="category category-2">
                            <div class="cell-l c2-cell"><p>待摊折旧费用</p></div>
                            <div class="cell c2-cell">
                                <p>折旧费用是指用于研究开发活动的仪器、设备和在用建筑物的折旧费。</p>
                                <p>长期待摊费用是指研发设施的改建、改装、装修和修理过程中发生的长期待摊费用。</p>
                            </div>
                            <div class="cell-r c2-cell">
                                <p>用于研发活动的仪器、设备的折旧费。</p>
                            </div>
                        </div>
                    </div>

                    <div class="title-0 title-4 el-hide">
                        <div class="category category-1">
                            <div class="cell-l cell-color">资产摊销费用</div>
                            <div class="cell cell-color">用于研究开发活动的软件、知识产权、非专利技术（专有技术、许可证、设计和计算方法等）的摊销费用。</div>
                            <div class="cell-r cell-color">用于研发活动的软件、专利权、非专利技术（包括许可证、专有技术、设计和计算方法等）的摊销费用。</div>
                        </div>
                    </div>

                    <div class="title-0 title-5 el-hide">
                        <div class="category category-2">
                            <div class="cell-l c2-cell"><p>设计费用</p></div>
                            <div class="cell c2-cell">
                                <p>设计费用是指为新产品和新工艺进行构思、开发和制造，进行工序、技术规范、规程制定、操作特性方面的设计等发生的费用。包括为获得创新性、创意性、突破性产品进行的创意设计活动发生的相关费用。</p>
                            </div>
                            <div class="cell-r c2-cell">
                                <p>新产品设计费（第一部分）</p>
                                <p>新工艺规程制定费</p>
                            </div>
                        </div>
                    </div>

                    <div class="title-0 title-6 el-hide">
                        <div class="category category-2">
                            <div class="cell-l c2-cell"><p>调试实验费用</p></div>
                            <div class="cell c2-cell">
                                <p>装备调试费用是指工装准备过程中研究开发活动所发生的费用，包括研制特殊、专用的生产机器，改变生产和质量控制程序，或制定新方法及标准等活动所发生的费用。
                                    为大规模批量化和商业化生产所进行的常规性工装准备和工业工程发生的费用不能计入归集范围。
                                </p>
                                <p>试验费用包括新药研制的临床试验费、勘探开发技术的现场试验费、田间试验费等。</p>
                            </div>
                            <div class="cell-r c2-cell">
                                <p>新产品设计费（第二部分）</p>
                                <p>新药研制的临床试验费、勘探开发技术的现场试验费。</p>
                            </div>
                        </div>
                    </div>

                    <div class="title-0 title-7 el-hide">
                        <div class="category category-1">
                            <div class="cell-l cell-color">外部研发费用</div>
                            <div class="cell cell-color">委托外部研究开发费用是指企业委托境内外其他机构或个人进行研究开发活动所发生的费用（研究开发活动成果为委托方企业拥有，且与该企业的主要经营业务紧密相关）。委托外部研究开发费用的实际发生额应按照独立交易原则确定，按照实际发生额的80%计入委托方研发费用总额。</div>
                            <div class="cell-r cell-color">无规定</div>
                        </div>
                    </div>

                    <div class="title-0 title-8 el-hide">
                        <div class="category category-2">
                            <div class="cell-l c2-cell"><p>其它相关费用</p></div>
                            <div class="cell c2-cell">
                                <p>技术图书资料费、资料翻译费、专家咨询费、高新科技研发保险费</p>
                                <p>研发成果的检索、论证、评审、鉴定、验收费用</p>
                                <p>知识产权的申请费、注册费、代理费，会议费、差旅费、通讯费等。</p>
                                <p>此项费用一般不得超过研究开发总费用的20%，另有规定的除外。</p>
                            </div>
                            <div class="cell-r c2-cell">
                                <p>与研发活动直接相关的其他费用，技术图书资料费、资料翻译费、专家咨询费、高新科技研发保险费</p>
                                <p>研发成果的检索、分析、评议、论证、鉴定、评审、评估、验收费用</p>
                                <p>知识产权的申请费、注册费、代理费，</p>
                                <p>差旅费、会议费等。</p>
                                <p>此项费用总额不得超过可加计扣除研发费用总额的10%。</p>
                            </div>
                        </div>
                    </div>

                    <div class="title-0 title-9 el-hide">
                        <!--<div class="category category-1">
                          <div class="cell-l cell-color">人员人工费用</div>
                          <div class="cell cell-color">企业科技人员的工资薪金、基本养老保险费、基本医疗保险费、失业保险费、工伤保险费、生育保险费和住房公积金，以及外聘科技人员的劳务费用。</div>
                          <div class="cell-r cell-color">直接从事研发活动人员的工资薪金、基本养老保险费、基本医疗保险费、失业保险费、工伤保险费、生育保险费和住房公积金，以及外聘研发人员的劳务费用。</div>
                        </div>

                        <div class="category category-2">
                          <div class="cell-l c2-cell"><p>直接投入费用</p></div>
                          <div class="cell c2-cell">
                            <p>直接投入费用是指企业为实施研究开发活动而实际发生的相关支出。包括：</p>
                            <p>直接消耗的材料、燃料和动力费用；</p>
                            <p>用于中间试验和产品试制的模具、工艺装备开发及制造费，不构成固定资产的样品、样机及一般测试手段购置费，试制产品的检验费；</p>
                            <p>用于研究开发活动的仪器、设备的运行维护、调整、检验、检测、维修等费用，以及通过经营租赁方式租入的用于研发活动的固定资产租赁费。</p>
                          </div>
                          <div class="cell-r c2-cell">
                            <p>研发活动直接消耗的材料、燃料和动力费用。</p>
                            <p>用于中间试验和产品试制的模具、工艺装备开发及制造费，不构成固定资产的样品、样机及一般测试手段购置费，试制产品的检验费。</p>
                            <p>用于研发活动的仪器、设备的运行维护、调整、检验、维修等费用，以及通过经营租赁方式租入的用于研发活动的仪器、设备租赁费。</p>
                          </div>
                        </div>

                        <div class="category category-2">
                          <div class="cell-l c2-cell"><p>待摊折旧费用</p></div>
                          <div class="cell c2-cell">
                            <p>折旧费用是指用于研究开发活动的仪器、设备和在用建筑物的折旧费。</p>
                            <p>长期待摊费用是指研发设施的改建、改装、装修和修理过程中发生的长期待摊费用。</p>
                          </div>
                          <div class="cell-r c2-cell">
                            <p>用于研发活动的仪器、设备的折旧费。</p>
                          </div>
                        </div>

                        <div class="category category-1">
                          <div class="cell-l cell-color">资产摊销费用</div>
                          <div class="cell cell-color">用于研究开发活动的软件、知识产权、非专利技术（专有技术、许可证、设计和计算方法等）的摊销费用。</div>
                          <div class="cell-r cell-color">用于研发活动的软件、专利权、非专利技术（包括许可证、专有技术、设计和计算方法等）的摊销费用。</div>
                        </div>

                        <div class="category category-2">
                          <div class="cell-l c2-cell"><p>设计费用</p></div>
                          <div class="cell c2-cell">
                            <p>设计费用是指为新产品和新工艺进行构思、开发和制造，进行工序、技术规范、规程制定、操作特性方面的设计等发生的费用。包括为获得创新性、创意性、突破性产品进行的创意设计活动发生的相关费用。</p>
                          </div>
                          <div class="cell-r c2-cell">
                            <p>新产品设计费（第一部分）</p>
                            <p>新工艺规程制定费</p>
                          </div>
                        </div>

                        <div class="category category-2">
                          <div class="cell-l c2-cell"><p>调试实验费用</p></div>
                          <div class="cell c2-cell">
                            <p>装备调试费用是指工装准备过程中研究开发活动所发生的费用，包括研制特殊、专用的生产机器，改变生产和质量控制程序，或制定新方法及标准等活动所发生的费用。
                              为大规模批量化和商业化生产所进行的常规性工装准备和工业工程发生的费用不能计入归集范围。
                            </p>
                            <p>试验费用包括新药研制的临床试验费、勘探开发技术的现场试验费、田间试验费等。</p>
                          </div>
                          <div class="cell-r c2-cell">
                            <p>新产品设计费（第二部分）</p>
                            <p>新药研制的临床试验费、勘探开发技术的现场试验费。</p>
                          </div>
                        </div>

                        <div class="category category-1">
                          <div class="cell-l cell-color">外部研发费用</div>
                          <div class="cell cell-color">委托外部研究开发费用是指企业委托境内外其他机构或个人进行研究开发活动所发生的费用（研究开发活动成果为委托方企业拥有，且与该企业的主要经营业务紧密相关）。委托外部研究开发费用的实际发生额应按照独立交易原则确定，按照实际发生额的80%计入委托方研发费用总额。</div>
                          <div class="cell-r cell-color">无规定</div>
                        </div>

                        <div class="category category-2">
                          <div class="cell-l c2-cell"><p>其它相关费用</p></div>
                          <div class="cell c2-cell">
                            <p>技术图书资料费、资料翻译费、专家咨询费、高新科技研发保险费</p>
                            <p>研发成果的检索、论证、评审、鉴定、验收费用</p>
                            <p>知识产权的申请费、注册费、代理费，会议费、差旅费、通讯费等。</p>
                            <p>此项费用一般不得超过研究开发总费用的20%，另有规定的除外。</p>
                          </div>
                          <div class="cell-r c2-cell">
                            <p>与研发活动直接相关的其他费用，技术图书资料费、资料翻译费、专家咨询费、高新科技研发保险费</p>
                            <p>研发成果的检索、分析、评议、论证、鉴定、评审、评估、验收费用</p>
                            <p>知识产权的申请费、注册费、代理费，</p>
                            <p>差旅费、会议费等。</p>
                            <p>此项费用总额不得超过可加计扣除研发费用总额的10%。</p>
                          </div>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="border-bottom: 1px #e3e3e3 solid;">
        <div class="content">
            <div class="ctn-item flow-div">
                <p class="title">研发费用加计扣除申报流程</p>
                <div class="flow">
                    <img class="flow-img" src="../img/yffjjkczt1-part6-flow1.png" alt="icon">
                    <img class="flow-img-1" src="../img/yffjjkczt1-part6-flow4.png" alt="icon">
                    <img class="flow-img" src="../img/yffjjkczt1-part6-flow2.png" alt="icon">
                    <img class="flow-img-1" src="../img/yffjjkczt1-part6-flow5.png" alt="icon">
                    <img class="flow-img" src="../img/yffjjkczt1-part6-flow3.png" alt="icon">
                    <img class="flow-img-1" src="../img/yffjjkczt1-part6-flow6.png" alt="icon">
                </div>
            </div>
        </div>
    </div>

    <div style="border-bottom: 1px #e3e3e3 solid;">
        <div class="content">

            <div class="ctn-item question">
                <p class="title">研发费用加计扣除常见问题</p>

                <div class="q-box">
                    <div class="q-title">
                        <p>1、没有知识产权能否申报高新技术企业？</p>
                    </div>
                    <div class="q-result">
                        <p>核心自主知识产权的权属人必须与申请企业保持一致，公司股东或内部员工拥有的知识产权不能视为公司的知识产权。如企业希望申报高企，可将权利由个人转让给公司；需要注意的是：个人通过独占许可的方式许可企业...</p>
                        <p></p>
                    </div>

                    <div class="q-title">
                        <p>2、税务为核定征收能否申报高新技术企业？</p>
                    </div>
                    <div class="q-result">
                        <p>核心自主知识产权的权属人必须与申请企业保持一致，公司股东或内部员工拥有的知识产权不能视为公司的知识产权。如企业希望申报高企，可将权利由个人转让给公司；需要注意的是：个人通过独占许可的方式许可企业...</p>
                    </div>

                    <div class="q-title">
                        <p>3、通过独立许可获得的发明专利能否在认定中实使用？</p>
                    </div>
                    <div class="q-result">
                        <p>核心自主知识产权的权属人必须与申请企业保持一致，公司股东或内部员工拥有的知识产权不能视为公司的知识产权。如企业希望申报高企，可将权利由个人转让给公司；需要注意的是：个人通过独占许可的方式许可企业...</p>
                    </div>

                    <a href="http://www.ip001.sh.cn/Policy/Faq/1"><div class="q-btn btn-style">查看更多常见问题</div></a>
                </div>
            </div>

        </div>
    </div>

    <div class="popup" id="popup">
        <div class="popup-box" id="popupBox">
            <img class="close-icon btn-style" id="closeBtn" src="../img/btn_close.png" alt="close-icon">
            <div class="box-ctn">
                <!--错误提示 在ul上加上class（error-hint）即可 -->
                <ul class="table-form">
                    <li class="input-label">姓名</li>
                    <li class="input-text">
                        <input type="text" placeholder="您的姓名已完成输入">
                        <!-- 自定义错误提示信息 -->
                        <span class="error-span">请输入正确信息</span>
                    </li>
                </ul>
                <ul class="table-form">
                    <li class="input-label">手机</li>
                    <li class="input-text"><input type="text" placeholder="请输入您的手机号码"></li>
                </ul>
                <ul class="table-form">
                    <li class="input-label">邮箱</li>
                    <li class="input-text"><input type="text" placeholder="请输入您的邮箱账号"></li>
                </ul>
                <ul class="table-form">
                    <li class="input-label"><p>问题</p></li>
                    <li class="input-text">
                        <textarea type="text" placeholder="请输入您的邮箱账号"></textarea>
                        <p class="text-info">我们的工作人员将会在第一时间联系您</p>
                    </li>
                </ul>

                <div class="btn-group">
                    <div class="bnt-submit btn-style" id="msgSubmit">提交</div>
                    <div class="bnt-cancel btn-style" id="msgCancel">取消</div>
                    <div class="bnt-cancel btn-style">在线咨询</div>
                </div>
            </div>
        </div>
    </div>


    <script src="../js/global.js"></script>
    <script src="../js/research.js"></script>


<!-- 内容结束 -->


        <div class="foot-contact gray">
        <p>如果您想了解更多，请拨打我们的热线电话！</p>
        <a href="" class="tel">400-728-3001</a>
    </div>

<div class="foot">
    <div class="container">
        <div class="fl foot-links">
            <ul>
                <li>
                    <a href="/Policy/Search/">知识产权科技政策</a>
                </li>
                <li>
                    <a href="/PatentHost/Search/">专利年费</a>
                </li>
                <li>
                    <a href="/PatentSearch/Search/">专利管理</a>
                </li>
                <li>
                    <a href="/Special/Index/">高新企业专题</a>
                </li>
                <li>
                    <a href="/Special/Reduction/">专利费减专题</a>
                </li>
                <li>
                    <a href="/Content/Show/About">关于我们</a>
                </li>
                <li>
                    <a href="http://service.ip001.sh.cn/" target="_blank">客户管理</a>
                </li>
            </ul>
        </div>
        <div class="fr foot-focus">
            <span>关注：</span>
            <a href="javascript:void(0);" class="social-wechat">
                <img class="focus-wechatImg" src="http://www.ip001.sh.cn/static/images/erweima.jpg" width="90" height="90" alt="">
            </a>
            <a href="javascript:void(0);" class="social-weibo"></a>
        </div>
    </div>
</div>

<div class="footBar">
    <p><span>Copyright &copy; 2014-2017 上海知识产权政策信息平台  沪ICP备14038424号-3</span></p>
</div>

<!-- 悬浮 Begin -->

<div class="floatBox">
    <ul>
        <li class="btnChat">
            
            <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2070045373&site=www.ip001.sh.cn&menu=yes"></a>
        </li>
        <li class="btnWechat">
            <a href="javascript:void(0);">
                <img class="erweima" src="http://www.ip001.sh.cn/static/images/erweima.jpg" width="90" height="90" alt="">
            </a>
        </li>
        <li class="btnTel">
            <a href="javascript:void(0);">
                <span>4007283001</span>
            </a>
        </li>
        <li class="btnEdit">
            <a href="javascript:void(0);"></a>
        </li>
        <li class="goTop" id="gotop">
            <a href="javascript:void(0);"></a>
        </li>
    </ul>
</div>

<!-- 悬浮 /End -->

<!-- 百度统计代码 Begin -->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?d810bb9328bedbc1bf1ed04e6336c527";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
<!-- 百度统计代码 /End -->

    <script type="text/javascript" src="http://www.ip001.sh.cn/static/js/jquery.validate.js"></script>
    <script type="text/javascript" src="http://www.ip001.sh.cn/static/js/common.js"></script>
    <script type="text/javascript" src="http://www.ip001.sh.cn/Scripts/account.js"></script>

    <!-- 弹框 Begin -->
<div class="mask"></div>
<!-- 建议弹框 -->
<div class="popbox message">
    <form>
        <div class="popform">
            <div class="popformTitle">
                <h2>我的建议</h2>
            </div>
            <div class="popformItem">
                <label for="">建议：</label>
                <textarea name="Contents" id="Contents" cols="30" rows="10"></textarea>
            </div>
            <div class="popformItem">
                <label for="">您的联系方式：</label>
                <input name="Mobile" id="Mobile" type="text" value="" placeholder="请输入您的联系方式，电子邮箱或者手机号码">
                <div class="tips">我们将在一个工作日内将您的建议反馈给主管部门，并及时回复。</div>
            </div>
            <div class="popbuttons">
                <a class="sure" href="javascript:void(0);">提交</a><a class="cancle" href="javascript:void(0);">取消</a>
            </div>
        </div>
        <a href="javascript:void(0);" class="close"></a>
    </form>
</div>

<!-- 错误弹框 -->
<div class="popbox tips error">
    <div class="popform">
        <img src="http://www.ip001.sh.cn/static/images/ioc_error.png" /><a href="javascript:void(0);" class="popmsg"></a>
    </div>
    <a href="javascript:void(0);" class="close"></a>
</div>

<!-- 警告弹框 -->
<div class="popbox tips no">
    <div class="popform">
        <img src="http://www.ip001.sh.cn/static/images/ioc_caveat.png" /><a href="javascript:void(0);" class="popmsg"></a>
    </div>
    <a href="javascript:void(0);" class="close"></a>
</div>

<!-- 成功弹框 -->
<div class="popbox tips have">
    <div class="popform">
        <img src="http://www.ip001.sh.cn/static/images/ioc_ok.png" /><a href="javascript:void(0);" class="popmsg"></a>
    </div>
    <a href="javascript:void(0);" class="close"></a>
</div>

<!-- 登录相关 -->
    <input type="hidden" name="islogin" id="islogin" value="0" />
        <input type="hidden" name="haslogindialog" id="haslogindialog" value="1" />
        <!-- 登录弹框 -->
        <div class="loginBox">
            <a href="javascript:void(0);" class="close"></a>
            <div class="login">
                <p class="loginText fleft">用户登录</p>
                <div class="loginCenter fleft">
                    <form class="loginForm" id="loginForm">
                        <div class="account">
                            <p class="Text">用户名</p>
                            <input type="text" placeholder="请输入您的用户名" class="required Text_Input" name="account" id="AccountCode">
                            <div class="errorWrap"></div>
                        </div>
                        <div class="password">
                            <p class="Text">密码</p>
                            <input type="password" placeholder="请输入您的密码" class="required Text_Input gin password" name="password" id="Password">
                            <div class="errorWrap"></div>
                        </div>
                        <div class="rememb">
                            <label><input type="checkbox"><span>记住密码</span></label>
                            <a href="/Account/ForgetPassword1">忘记密码？</a>
                        </div>
                        <div class="btnDiv">
                            <input type="submit" value="登录" class="btn submit" id="btnLogin" style="float:left;">
                                <a href="/Account/Register?ReturnUrl=http://localhost:17417/Special/Index" class="btn" style="float:right;">注册</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- end登录弹框 -->

<!-- 弹框 //End -->

<script src="http://www.ip001.sh.cn/Scripts/pop.js"></script>
<script src="http://www.ip001.sh.cn/Scripts/feedback.js"></script>
<!-- <script src="~/Scripts/stat.js"></script> -->

</body>
</html>