<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>高新企业专题 - 上海知识产权政策信息平台</title>
    <meta name="keywords" content="高新企业专题 - 上海知识产权政策信息平台">
    <meta name="description" content="高新企业专题 - 上海知识产权政策信息平台">

    <!--  ICO图标 -->
    <link rel="shortcut icon" href="http://www.ip001.sh.cn/favicon.ico" />

    <!--  重置样式 -->
    <link rel="stylesheet" href="http://www.ip001.sh.cn/static/css/normalize.css">

    <!--  网站样式 -->
    <link rel="stylesheet" href="http://www.ip001.sh.cn/static/css/common.css">

    <link rel="stylesheet" href="../css/util.min.css">
    <link rel="stylesheet" href="../css/high-detail.min.css">

    <script type="text/javascript" src="http://www.ip001.sh.cn/static/js/jquery-1.7.1.min.js"></script>
</head>

<body>
    <div class="head">
    <div class="top">
        <div class="container">
            <div class="fl logo">
                <a href="/"><img src="http://www.ip001.sh.cn/static/images/logo.png" alt="上海知识产权政策信息平台"></a>
            </div>
            <div class="fl nav">
                <ul>
                    <li class="on">
                        <a href="http://www.ip001.sh.cn/">首页</a>
                    </li>
                    <li>
                        <a href="http://www.ip001.sh.cn/">科技政策查询</a>
                    </li>
                    <li>
                        <a href="http://www.ip001.sh.cn/">专利年费托管</a> </li>
                    <li>
                        <a href="http://www.ip001.sh.cn/">专利管理</a>
                    </li>
                    <li>
                        <a href="/Special/Index/">政策专题展示</a>
                        <div class="twonav">
                            <a href="/Special/Index/">高新企业专题</a>
                            <a href="/Special/Reduction/">专利费减专题</a>
                            <a href="/Special/Annual/">企业年报专题</a>
                            
                        </div>
                    </li>
                </ul>
            </div>
            <div class="fr top-r">
<a class="top-login" href="/Account/Login">登录</a> | <a class="top-register" href="/Account/Register">注册</a>            </div>
        </div>
    </div>
</div>
<script src="http://www.ip001.sh.cn/Scripts/header.js"></script>
    

<!-- 内容开始 -->


    <div style="border-bottom: 1px #e3e3e3 solid; background-color: #f9f9f9;">
        <div class="content">

            <div class="main">
                <p class="title">研发费用加计扣除与高企政策对比</p>
                <ul class="category">
                    <li class="cell-l">名称</li>
                    <li class="cell-l">政策对比</li>
                    <li class="cell-r">高新技术企业认定</li>
                    <li class="cell-r">研发费用加计扣除</li>
                </ul>
                <div class="main-table">
                    <div class="table-l">人员人工费用</div>
                    <div class="table-r table-r-1">
                        <ul class="ul-1">
                            <li class="cell-l">人员人工费用</li>
                            <li class="cell">
                                <p>企业科技人员的工资薪金、基本养老保险费、基本医疗</p>
                                <p>保险费、失业保险费、工伤保险费、生育保险费和住房</p>
                                <p>公积金，以及外聘科技人员的劳务费用。</p>
                            </li>
                            <li class="cell">
                                <p>直接从事研发活动人员的工资薪金、基本养老保险费、</p>
                                <p>基本医疗保险费、失业保险费、工伤保险费、生育保险</p>
                                <p>费和住房公积金，以及外聘研发人员的劳务费用。</p>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="main-table">
                    <div class="table-l">直接投入费用</div>
                    <div class="table-r table-r-1">
                        <ul class="ul-1">
                            <li class="cell-l">直接投入费用</li>
                            <li class="cell">
                                <p>直接投入费用是指企业为实施研究开发活动而实际发生</p>
                                <p>的相关支出。包括：</p>
                                <p>直接消耗的材料、燃料和动力费用；</p>
                                <p>用于中间试验和产品试制的模具、工艺装备开发及制造</p>
                                <p>费，不构成固定资产的样品、样机及一般测试手段购置</p>
                                <p>费，试制产品的检验费；</p>
                                <p>用于研究开发活动的仪器、设备的运行维护、调整、检</p>
                                <p>验、检测、维修等费用，以及通过经营租赁方式租入的</p>
                                <p>用于研发活动的固定资产租赁费。</p>
                            </li>
                            <li class="cell">
                                <p>研发活动直接消耗的材料、燃料和动力费用。</p>
                                <p>用于中间试验和产品试制的模具、工艺装备开发及制造</p>
                                <p>费，不构成固定资产的样品、样机及一般测试手段购置</p>
                                <p>费，试制产品的检验费。</p>
                                <p>用于研发活动的仪器、设备的运行维护、调整、检验、</p>
                                <p>维修等费用，以及通过经营租赁方式租入的用于研发活</p>
                                <p>动的仪器、设备租赁费。</p>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="main-table">
                    <div class="table-l">待摊折旧费用</div>
                    <div class="table-r table-r-1">
                        <ul class="ul-1">
                            <li class="cell-l">待摊折旧费用</li>
                            <li class="cell">
                                <p>折旧费用是指用于研究开发活动的仪器、设备和在用建</p>
                                <p>筑物的折旧费。</p>
                                <p>长期待摊费用是指研发设施的改建、改装、装修和修理</p>
                                <p>过程中发生的长期待摊费用。</p>
                            </li>
                            <li class="cell">
                                <p>用于研发活动的仪器、设备的折旧费。</p>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="main-table">
                    <div class="table-l">资产摊销费用</div>
                    <div class="table-r table-r-1">
                        <ul class="ul-1">
                            <li class="cell-l">资产摊销费用</li>
                            <li class="cell">
                                <p>用于研究开发活动的软件、知识产权、非专利技术（专</p>
                                <p>有技术、许可证、设计和计算方法等）的摊销费用。</p>
                            </li>
                            <li class="cell">
                                <p>用于研发活动的软件、专利权、非专利技术（包括许可</p>
                                <p>证、专有技术、设计和计算方法等）的摊销费用。</p>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="main-table">
                    <div class="table-l">设计费用</div>
                    <div class="table-r table-r-1">
                        <ul class="ul-1">
                            <li class="cell-l">设计费用</li>
                            <li class="cell">
                                <p>设计费用是指为新产品和新工艺进行构思、开发和制</p>
                                <p>造，进行工序、技术规范、规程制定、操作特性方面的</p>
                                <p>设计等发生的费用。包括为获得创新性、创意性、突破</p>
                                <p>性产品进行的创意设计活动发生的相关费用。</p>
                            </li>
                            <li class="cell">
                                <p>新产品设计费（第一部分）</p>
                                <p>新工艺规程制定费</p>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="main-table">
                    <div class="table-l">调试实验费用</div>
                    <div class="table-r table-r-1">
                        <ul class="ul-1">
                            <li class="cell-l">调试实验费用</li>
                            <li class="cell">
                                <p>装备调试费用是指工装准备过程中研究开发活动所发生</p>
                                <p>的费用，包括研制特殊、专用的生产机器，改变生产和</p>
                                <p>质量控制程序，或制定新方法及标准等活动所发生的费</p>
                                <p>用。为大规模批量化和商业化生产所进行的常规性工装</p>
                                <p>准备和工业工程发生的费用不能计入归集范围。</p>
                                <p>试验费用包括新药研制的临床试验费、勘探开发技术的</p>
                                <p>现场试验费、田间试验费等。</p>
                            </li>
                            <li class="cell">
                                <p>新产品设计费（第二部分）</p>
                                <p>新药研制的临床试验费、勘探开发技术的现场试验费。</p>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="main-table">
                    <div class="table-l">外部研发费用</div>
                    <div class="table-r table-r-1">
                        <ul class="ul-1">
                            <li class="cell-l">外部研发费用</li>
                            <li class="cell">
                                <p>委托外部研究开发费用是指企业委托境内外其他机构或</p>
                                <p>个人进行研究开发活动所发生的费用（研究开发活动成</p>
                                <p>相关）。委托外部研究开发费用的实际发生额应按照独</p>
                                <p>立交易原则确定，按照实际发生额的80%计入委托方研</p>
                                <p>发费用总额。</p>
                            </li>
                            <li class="cell">
                                <p>无规定</p>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="main-table main-style">
                    <div class="table-l">其它相关费用</div>
                    <div class="table-r table-r-1 last-style">
                        <ul class="ul-1">
                            <li class="cell-l">其它相关费用</li>
                            <li class="cell">
                                <p>技术图书资料费、资料翻译费、专家咨询费、高新科技</p>
                                <p>研发保险费</p>
                                <p>研发成果的检索、论证、评审、鉴定、验收费用</p>
                                <p>知识产权的申请费、注册费、代理费，会议费、差旅</p>
                                <p>费、通讯费等。</p>
                                <p>此项费用一般不得超过研究开发总费用的20%，另有规</p>
                                <p>定的除外。</p>
                            </li>
                            <li class="cell">
                                <p>与研发活动直接相关的其他费用，技术图书资料费、资</p>
                                <p>料翻译费、专家咨询费、高新科技研发保险费</p>
                                <p>研发成果的检索、分析、评议、论证、鉴定、评审、评</p>
                                <p>估、验收费用</p>
                                <p>知识产权的申请费、注册费、代理费，</p>
                                <p>差旅费、会议费等。</p>
                                <p>此项费用总额不得超过可加计扣除研发费用总额的10%。</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <script src="../js/global.js"></script>


<!-- 内容结束 -->


        <div class="foot-contact gray">
        <p>如果您想了解更多，请拨打我们的热线电话！</p>
        <a href="" class="tel">400-728-3001</a>
    </div>

<div class="foot">
    <div class="container">
        <div class="fl foot-links">
            <ul>
                <li>
                    <a href="/Policy/Search/">知识产权科技政策</a>
                </li>
                <li>
                    <a href="/PatentHost/Search/">专利年费</a>
                </li>
                <li>
                    <a href="/PatentSearch/Search/">专利管理</a>
                </li>
                <li>
                    <a href="/Special/Index/">高新企业专题</a>
                </li>
                <li>
                    <a href="/Special/Reduction/">专利费减专题</a>
                </li>
                <li>
                    <a href="/Content/Show/About">关于我们</a>
                </li>
                <li>
                    <a href="http://service.ip001.sh.cn/" target="_blank">客户管理</a>
                </li>
            </ul>
        </div>
        <div class="fr foot-focus">
            <span>关注：</span>
            <a href="javascript:void(0);" class="social-wechat">
                <img class="focus-wechatImg" src="http://www.ip001.sh.cn/static/images/erweima.jpg" width="90" height="90" alt="">
            </a>
            <a href="javascript:void(0);" class="social-weibo"></a>
        </div>
    </div>
</div>

<div class="footBar">
    <p><span>Copyright &copy; 2014-2017 上海知识产权政策信息平台  沪ICP备14038424号-3</span></p>
</div>

<!-- 悬浮 Begin -->

<div class="floatBox">
    <ul>
        <li class="btnChat">
            
            <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2070045373&site=www.ip001.sh.cn&menu=yes"></a>
        </li>
        <li class="btnWechat">
            <a href="javascript:void(0);">
                <img class="erweima" src="http://www.ip001.sh.cn/static/images/erweima.jpg" width="90" height="90" alt="">
            </a>
        </li>
        <li class="btnTel">
            <a href="javascript:void(0);">
                <span>4007283001</span>
            </a>
        </li>
        <li class="btnEdit">
            <a href="javascript:void(0);"></a>
        </li>
        <li class="goTop" id="gotop">
            <a href="javascript:void(0);"></a>
        </li>
    </ul>
</div>

<!-- 悬浮 /End -->

<!-- 百度统计代码 Begin -->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?d810bb9328bedbc1bf1ed04e6336c527";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
<!-- 百度统计代码 /End -->

    <script type="text/javascript" src="http://www.ip001.sh.cn/static/js/jquery.validate.js"></script>
    <script type="text/javascript" src="http://www.ip001.sh.cn/static/js/common.js"></script>
    <script type="text/javascript" src="http://www.ip001.sh.cn/Scripts/account.js"></script>

    <!-- 弹框 Begin -->
<div class="mask"></div>
<!-- 建议弹框 -->
<div class="popbox message">
    <form>
        <div class="popform">
            <div class="popformTitle">
                <h2>我的建议</h2>
            </div>
            <div class="popformItem">
                <label for="">建议：</label>
                <textarea name="Contents" id="Contents" cols="30" rows="10"></textarea>
            </div>
            <div class="popformItem">
                <label for="">您的联系方式：</label>
                <input name="Mobile" id="Mobile" type="text" value="" placeholder="请输入您的联系方式，电子邮箱或者手机号码">
                <div class="tips">我们将在一个工作日内将您的建议反馈给主管部门，并及时回复。</div>
            </div>
            <div class="popbuttons">
                <a class="sure" href="javascript:void(0);">提交</a><a class="cancle" href="javascript:void(0);">取消</a>
            </div>
        </div>
        <a href="javascript:void(0);" class="close"></a>
    </form>
</div>

<!-- 错误弹框 -->
<div class="popbox tips error">
    <div class="popform">
        <img src="http://www.ip001.sh.cn/static/images/ioc_error.png" /><a href="javascript:void(0);" class="popmsg"></a>
    </div>
    <a href="javascript:void(0);" class="close"></a>
</div>

<!-- 警告弹框 -->
<div class="popbox tips no">
    <div class="popform">
        <img src="http://www.ip001.sh.cn/static/images/ioc_caveat.png" /><a href="javascript:void(0);" class="popmsg"></a>
    </div>
    <a href="javascript:void(0);" class="close"></a>
</div>

<!-- 成功弹框 -->
<div class="popbox tips have">
    <div class="popform">
        <img src="http://www.ip001.sh.cn/static/images/ioc_ok.png" /><a href="javascript:void(0);" class="popmsg"></a>
    </div>
    <a href="javascript:void(0);" class="close"></a>
</div>

<!-- 登录相关 -->
    <input type="hidden" name="islogin" id="islogin" value="0" />
        <input type="hidden" name="haslogindialog" id="haslogindialog" value="1" />
        <!-- 登录弹框 -->
        <div class="loginBox">
            <a href="javascript:void(0);" class="close"></a>
            <div class="login">
                <p class="loginText fleft">用户登录</p>
                <div class="loginCenter fleft">
                    <form class="loginForm" id="loginForm">
                        <div class="account">
                            <p class="Text">用户名</p>
                            <input type="text" placeholder="请输入您的用户名" class="required Text_Input" name="account" id="AccountCode">
                            <div class="errorWrap"></div>
                        </div>
                        <div class="password">
                            <p class="Text">密码</p>
                            <input type="password" placeholder="请输入您的密码" class="required Text_Input gin password" name="password" id="Password">
                            <div class="errorWrap"></div>
                        </div>
                        <div class="rememb">
                            <label><input type="checkbox"><span>记住密码</span></label>
                            <a href="/Account/ForgetPassword1">忘记密码？</a>
                        </div>
                        <div class="btnDiv">
                            <input type="submit" value="登录" class="btn submit" id="btnLogin" style="float:left;">
                                <a href="/Account/Register?ReturnUrl=http://localhost:17417/Special/Index" class="btn" style="float:right;">注册</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- end登录弹框 -->

<!-- 弹框 //End -->

<script src="http://www.ip001.sh.cn/Scripts/pop.js"></script>
<script src="http://www.ip001.sh.cn/Scripts/feedback.js"></script>
<!-- <script src="~/Scripts/stat.js"></script> -->

</body>
</html>